//  ===========================================
//  Fixes
//  ===========================================

html {
	box-sizing: border-box;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit; // box-sizing fix
}

//  ===========================================
//  Variables
//  ===========================================

// --------------  Fonts //
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
$font-primary: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// --------------  Colours //

$color-blue--dark: #091b40;
$color-blue--light: #194cf2;
$color-red: #ff3300;
$color-green: #70bf0d;
$color-orange: #ffb700;
$color-grey: #c9ccd4;

//  ===========================================
//  Mixins
//  ===========================================

@mixin underline-link {
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	&::after {
		content: '';
		display: block;
		width: 0;
		height: 1px;
		background: #fff;
		transition: width 0.3s;
	}
	&:hover::after {
		width: 100%;
	}
}

@mixin button-rotate {
	display: flex;
	padding: 10px 15px;
	color: $color-blue--dark;
	background: $color-orange;
	text-decoration: none;
	transition: all 0.3s;
	outline: 1px solid transparent; /* FF jagged edges fix */
	transform-style: preserve-3d;
	svg {
		margin-left: 5px;
		width: 20px;
		height: 20px;
		fill: $color-blue--dark;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
		width: 100%;
		height: 40%;
		left: 0;
		top: 100%;
		background: darken($color-orange, 25%);
		transform-origin: 0% 0%;
		transform: rotateX(-90deg);
	}
	&:hover {
		transform: rotateX(20deg);
	}
}
