//  ===========================================
//  Global Layout
//  ===========================================

html,
body {
	height: 100%;
	margin: 0;
	background: $color-blue--dark;
}

svg {
	overflow: visible;
}

//  ===========================================
//  Vertical Container
//  ===========================================

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 70px);
}

//  ===========================================
//  Error
//  ===========================================

.error {
	width: calc(100% - 40px);
	padding: 10px;
	display: block;
	margin: 20px auto 10px;
}

//  ===========================================
//  Footer
//  ===========================================

footer {
	width: 100%;
	display: block;
	padding: 10px;
}
